<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %green(%logger{5}): %msg%n"/>
    <property name="CONSOLE_SQL_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %yellow(%logger{5}):%msg"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-3level] %logger{5}: %msg%n"/>
    <property name="FILE_SQL_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-3level] %logger{5}:%msg"/>

    <!--local-->
    <springProfile name="local">
        <include resource="console-appender.xml"/>
        <include resource="console-sql-appender.xml"/>
        <include resource="log4jdbc-loggers.xml"/>

        <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE-SQL"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!--dev-->
    <springProfile name="dev">
        <include resource="file-info-appender.xml"/>
        <include resource="file-sql-appender.xml"/>
        <include resource="log4jdbc-loggers.xml"/>

        <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-INFO"/>
        </logger>

        <logger name="com.exchangediary.global.config.log.filter.RequestLoggingFilter" level="INFO" additivity="false">
            <appender-ref ref="FILE-INFO"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
        </root>
    </springProfile>

    <!--prod-->
    <springProfile name="prod">
        <include resource="file-info-appender.xml"/>
        <include resource="file-error-appender.xml"/>
        <include resource="file-sql-appender.xml"/>
        <include resource="log4jdbc-loggers.xml"/>

        <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-SQL"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
