<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %green(%logger{5}): %msg%n"/>
    <property name="JDBC_CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %yellow(%logger{5}):%msg"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-3level] %logger{5}: %msg%n"/>

    <!--local-->
    <springProfile name="local">
        <include resource="console-appender.xml"/>
        <include resource="jdbc-appender.xml"/>
        <include resource="jdbc-loggers.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!--dev-->
    <springProfile name="dev">
        <include resource="file-info-appender.xml"/>

        <logger name="jdbc" level="DEBUG" additivity="false"/>
        <logger name="jdbc.sqltiming" level="DEBUG" additivity="false"/>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"/>
        <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-INFO"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
        </root>
    </springProfile>

    <!--prod-->
    <springProfile name="prod">
        <include resource="file-info-appender.xml"/>
        <include resource="file-error-appender.xml"/>

        <root level="ERROR">
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
