<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu">
  <div class="group-menu">
    <div class="menu">
      <div class="menu-body">
        <div class="menu-content">
          <div class="group-members">
          </div>
          <div class="group-name">
            <span>버디즈</span>
          </div>
        </div>
      </div>
      <div class="menu-footer">
        <div class="">
          <a class="btn group-leave" href="#">탈퇴하기</a>
          <a class="btn group-code" href="#">코드 복사</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/group/group-menu.js"></script>
</th:block>

</html>
