.confirm-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(118, 118, 118, 0.70);
    backdrop-filter: blur(2px);
}

.confirm-modal .modal-popup {
    width: 326px;
    height: 185px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/images/common/confirm-modal/background.svg');
    background-repeat: no-repeat;
}

.confirm-modal .modal-popup.big {
    height: 203px;
    background-image: url('/images/common/confirm-modal/big-background.svg');
}

.confirm-modal .modal-head {
    width: 70px;
    height: 70px;
    margin: auto;
}

.confirm-modal .modal-icon {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-modal .modal-icon .warning {
    content: url('/images/common/confirm-modal/warning.svg');
}

.confirm-modal .modal-body {
    width: 326px;
    height: 57px;
    position: relative;
}

.confirm-modal .big .modal-body {
    height: 75px;
}

.confirm-modal .modal-content {
    text-align: center;
}

.confirm-modal .modal-text {
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
    letter-spacing: 0.18px;
}

.confirm-modal .modal-warning-text {
    color: #767676;
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 300% */
    letter-spacing: 0.12px;
    display: none;
    position: relative;
    bottom: 8px;
}

.confirm-modal .big .modal-warning-text {
    display: block;
}



.confirm-modal .modal-footer {
    width: 326px;
    height: 60px;

    display: flex;
    justify-content: center;
}

.confirm-modal .cancel-btn {
    width: 114px;
    height: 38px;
    border-radius: 20px;
    border: 0.5px solid var(--kakao-logo, #000);
    background-color: #FFF;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-modal .cancel-btn span {
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    letter-spacing: -0.4px;
}

.confirm-modal .confirm-btn {
    width: 114px;
    height: 38px;
    background-color: #000000;
    border-radius: 20px;
    border: 0.5px solid var(--kakao-logo, #000);
    margin-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-modal .confirm-btn span {
    color: #FFF;
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    letter-spacing: -0.4px;
}
