.help-icon-container {
    position: fixed;
    width: 107px;
    height: 130px;
    bottom: 0px;
    right: 0px;
    z-index: 20;
}

.tooltip {
    position: absolute;
    width: 96px;
    height: 104px;
    right: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip img {
    position: absolute;
}

.tooltip-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
    padding-top: 5px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.tooltip-buttons button {
    width: 80px;
    height: 32px;
    border-radius: 20px;
    border: 1px solid #767676;
    background: #FFF;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.help-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 4px;
    right: 8px;
}

.help-btn {
    font-family: "HancomMalangMalang-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.4px;
}

.inquiry-btn {
    font-family: "HancomMalangMalang-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.4px;
}

.help-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 249, 209, 1);
    z-index: 30;
}

.inquiry-popup-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 265px;
    z-index: 30;
    display: flex;
    justify-content: center;
}

.popup-background {
    width: 100%;
    height: auto;
    position: absolute;
}

.popup-content {
    padding-top: 30px;
    text-align: center;
    position: relative;
    font-family: "HancomMalangMalang-Regular";
}

.popup-content-info {
    color: #000;
    text-align: center;
    font-family: "HancomMalangMalang-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.popup-content .email {
    font-family: "HancomMalangMalang-Regular";
    color: #E84D59;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.16px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.popup-content-footer {
    text-align: center;
    padding: 20px 0;
}

.profile-icons {
    width: 313px;
    display: inline-block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 118, 118, 0.7);
    z-index: 25;
    display: block;
}

.hidden {
    display: none;
}
