<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<th:block layout:fragment="header">
    <title>스프링 - 일기 조회</title>
    <link rel="stylesheet" href="/css/diary/diary-common.css" type="text/css">
    <link rel="stylesheet" href="/css/diary/view-page.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/group/create-join-page/background.svg');">
        <div class="top-bar">
            <div class="bar-back">
                <a th:href="@{/groups/{groupId}(groupId=${groupId})}" class="back-btn"><img class="bar-icon" src="/images/common/back_icon.svg"/></a>
            </div>
            <div class="bar-main">
                <span class="date">[[${diary.createdAt}]]</span>
                <div class="mood"><img class="mood-icon" th:src="${diary.moodLocation}"></div>
            </div>
        </div>
        <div class="content">
            <div class="note">
                <div class="note-header">
                    <div class="page-bar">
                        <a class="page-icon page1" href="#" data-index="0"></a>
                        <a class="page-icon page2" href="#" data-index="1"></a>
                        <a class="page-icon page3" href="#" data-index="2"></a>
                        <a class="page-icon page4" href="#" data-index="3"></a>
                        <a class="page-icon page5" href="#" data-index="4"></a>
                    </div>
                </div>
                <div class="note-body">
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/diary/view-diary/slide-diary.js"></script>
    <script src="/js/diary/view-diary/view-diary.js"></script>
</th:block>

</html>
