<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<th:block layout:fragment="header">
    <title>스프링 - 일기 작성</title>
    <link rel="stylesheet" href="/css/diary/diary-common.css" type="text/css">
    <link rel="stylesheet" href="/css/diary/write-page.css" type="text/css">
    <link rel="stylesheet" href="/css/diary/modal.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/diary/write-page/background.svg');">
        <div class="top-bar">
            <div class="bar-back">
                <a href="javascript:history.back();" class="back-btn"><img class="bar-icon" src="/images/common/back_icon.svg" /></a>
            </div>
            <div class="bar-main">
                <span class="date"></span>
                <a href="#" class="mood-btn"><img src="/images/diary/write-page/mood_icon.svg"/></a>
            </div>
            <div class="bar-write">
                <a href="javascript:void(0);" class="write-btn"><img class="bar-icon" src="/images/diary/write-page/write_icon.svg"/></a>
            </div>
        </div>
        <div class="content">
            <div class="note-content active">
                <div class="tooltip-box">
                    <img class="tooltip-img" src="/images/diary/write-page/tooltip.png">
                    <p class="tooltip-text"></p>
                </div>
                <a class="upload-photo photo-btn">
                    <img class="photo-icon">
                </a>
                <input id="photo-input" type="file" accept="image/*" style="display: none;" />
                <div class="diary-content-area">
                    <textarea class="diary-content" placeholder="이곳을 클릭해 일기를 작성하세요." spellcheck="false"></textarea>
                </div>
            </div>
            <div class="note-content" style="transform: translateX(100%);">
                <div class="diary-content-area">
                    <textarea class="diary-content only-text" placeholder="이곳을 클릭해 일기를 작성하세요." spellcheck="false"></textarea>
                </div>
            </div>
            <div class="note-content" style="transform: translateX(100%);">
                <div class="diary-content-area">
                    <textarea class="diary-content only-text" placeholder="이곳을 클릭해 일기를 작성하세요." spellcheck="false"></textarea>
                </div>
            </div>
            <div class="note-content" style="transform: translateX(100%);">
                <div class="diary-content-area">
                    <textarea class="diary-content only-text" placeholder="이곳을 클릭해 일기를 작성하세요." spellcheck="false"></textarea>
                </div>
            </div>
            <div class="note-content" style="transform: translateX(100%);">
                <div class="diary-content-area">
                    <textarea class="diary-content only-text" placeholder="이곳을 클릭해 일기를 작성하세요." spellcheck="false"></textarea>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="page-circle active current"></div>
            <div class="page-circle"></div>
            <div class="page-circle"></div>
            <div class="page-circle"></div>
            <div class="page-circle"></div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="body">
    <div id="modal" class="modal">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-title">
                    <p class="modal-text">오늘 기분을 골라보세요.</p>
                </div>
                <table style="position: relative; left: -7px;">
                    <tr>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/happy.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/tired.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/sulk.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/shy.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/merong.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/fine.png"/></a></td>
                    </tr>
                    <tr>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/indifferent.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/surprised.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/confused.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/mad.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/upset.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/blind.png"/></a></td>
                    </tr>
                    <tr>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/confident.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/sad.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/eyebags.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/tear.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/wink.png"/></a></td>
                        <td><a href="#"><img class="emoji" src="/images/diary/write-page/emoji/smile.png"/></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script>
        const groupId = "[[${groupId}]]";
    </script>
    <script src="/js/diary/write-page/modal.js"></script>
    <script src="/js/diary/write-page/photo.js"></script>
    <script src="/js/diary/write-page/check-textarea.js"></script>
    <script src="/js/diary/view-diary/slide-diary.js"></script>
    <script src="/js/diary/write-page/write-diary.js"></script>
</th:block>

</html>
