<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JLDRL036NM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JLDRL036NM');
    </script>

    <link rel="stylesheet" href="/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <link rel="stylesheet" href="/css/help-menu.css" type="text/css">
    <link rel="stylesheet" href="/css/character.css" type="text/css">
    <link rel="stylesheet" href="/css/notification-modal.css" type="text/css">
    <link rel="stylesheet" href="/css/confirm-modal.css" type="text/css">

    <script src="/js/common/image-preloading.js"></script>
    <script src="/js/common/base.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-messaging.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "[[${apiKey}]]",
            authDomain: "[[${authDomain}]]",
            projectId: "[[${projectId}]]",
            storageBucket: "[[${storageBucket}]]",
            messagingSenderId: "[[${messagingSenderId}]]",
            appId: "[[${appId}]]",
            measurementId: "[[${measurementId}]]"
        };
        const vapidKey = "[[${vapidKey}]]";
    </script>

    <script src="/js/fcm/setup-fcm.js"></script>

    <th:block layout:fragment="header"></th:block>
</head>
<body>
    <div class="drag-prevent" align="center">
        <div class="full-screen">
            <div class="main-screen">
                <th:block layout:fragment="content">

                </th:block>
            </div>
        </div>
    </div>

    <div th:replace="~{common/notification-modal :: modal}"></div>
    <div th:replace="~{common/confirm-modal :: modal}"></div>

    <th:block layout:fragment="body"></th:block>

    <div class="help-icon-container">
        <div class="tooltip hidden">
            <img src ="/images/common/help-menu/tooltip.svg">
            <div class="tooltip-buttons">
                <button class="help-btn">도움말</button>
                <button class="inquiry-btn">문의하기</button>
            </div>
        </div>
        <div class="help-icon">
            <img src="/images/common/help-menu/question.svg">
        </div>
        <div class="help-image-container hidden">
            <img src="" class="help-image">
        </div>
        <div class="overlay hidden"></div>
        <div class="inquiry-popup-container hidden">
            <img src="/images/diary/write-page/modal/background.svg" class="popup-background">

            <div class="popup-content">
                <div class="popup-content-info">
                    <p>궁금한 점이나 불편한 사항이 있다면<br>TEAM 버디즈에게 아래 주소로 알려주세요!</p>
                </div>
                <a href="mailto:buddies.spring@gmail.com" class="email">buddies.spring@gmail.com</a>
                <div class="popup-content-footer">
                    <p>버디즈는 스프링에 대한 당신의 이야기가 듣고 싶어요!</p>
                    <div class="profile-icons">
                        <img src="/images/common/help-menu/inquiry-popup-profile-icon.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<th:block layout:fragment="script"></th:block>
<script src="/js/common/help-menu.js"></script>

</html>
