@charset "utf-8";

.comment-btn {
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 7px 32px 7px 0;
    float: right;

    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #767676;
}

.comment-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
