@charset "utf-8";

.comment-btn {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 32px 7px 0;
    float: right;

    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #767676;
}

.comment-btn-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.comment-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(80%);
    z-index: 2;
}

.comment-area {
    position: absolute;
    top: 193px;
    left: calc((100vw - 375px) / 2 + 1px);
    margin: 4px;

    width: 365px;
    height: 428px;
    flex-shrink: 0;
    z-index: -1;
}

.comment-area.write {
    z-index: auto;
}

.comment-area.highlight {
    border: 4px dashed #FC0;
    margin: 0;
}

.comment-character {
    width: 33px;
    height: 33px;
    flex-shrink: 0;

    margin: 4px;
    padding: 5px;
    position: absolute;
    top: 190px;
    left: 158px;
}

.comment-character.highlight {
    border: 4px dashed #FC0;
    border-radius: 50%;
    margin: 0;
}

.comment-character.view {
    opacity: 0.7;
}

.comment-character.blue {
    height: 40px;
    padding: 1px 5px 2px 5px
}

.comment-character.green {
    width: 41px;
    padding: 5px 1px 5px 1px;
}

.comment {
    position: absolute;
    left: 41px;

    width: 282px;
    height: 300px;
    flex-shrink: 0;
}

.comment.left {
    left: -3px;
}

.comment.right {
    left: 86px;
}

.comment-box {
    position: relative;

    width: 280px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid #767676;
    background: rgba(252, 249, 209, 0.9);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.top .comment-box {
    margin-top: 20px;
}

.bottom .comment-box {
    margin-top: 225px;
}

.comment-arrow {
    content: url("/images/diary/view-page/comment-arrow.png");
    float: left;
    position: relative;
    left: 20px;

    width: 30px;
    height: 20px;
    z-index: 5;
}

.top .comment-arrow {
    top: 1.5px;
    transform: rotate(180deg);
}

.bottom .comment-arrow {
    top: -1.5px;
}

.comment-bar {
    width: 257px;
    height: 50px;

    position: absolute;
    bottom: 0;
    left: 16px;
}

.comment-textarea {
    float: left;
    width: 185px;
    height: 24px;
    position: relative;
    top: 13px;
}

.comment-text {
    width: 185px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: transparent;

    color: #5A402A;
    font-family: "HancomMalangMalang-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.12px;
}

.sticker-btn {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    padding: 4px;
    float: left;
    margin: 13px 1px 13px 7px;
    position: relative;
    left: -9px;
}

.sticker-btn .sticker-icon {
    content: url("/images/diary/view-page/sticker-icon.png");

    margin: 0;
    width: 24px;
    height: 24px;
}

.sticker-btn.selected .sticker-icon {
    content: url("/images/diary/view-page/selected-sticker-icon.png");
}

.write-comment-btn {
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    float: right;
    margin: 7px 0 7px 0;

    background-color: #FFFFFF;
    border: 1px solid #767676;
    border-radius: 50%;
}

.reply-box {
    width: 270px;
    height: 44px;
    flex-shrink: 0;

    border-radius: 20px;
    background: rgba(255, 204, 0, 0.60);
    backdrop-filter: blur(2px);

    position: absolute;
    bottom: 4px;
    left: 5px;
}

.reply-bar {
    width: 270px;
    height: 44px;
    flex-shrink: 0;

    position: absolute;
    bottom: 0;
}

.reply-character {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    float: left;
    margin: 10px;
    border: 1px solid #767676;
    border-radius: 50%;
}

.reply-bar .comment-textarea {
    width: 148px;
    height: 24px;
    top: 11px;
    left: -2px;
}

.reply-bar .comment-text {
    width: 148px;
}

.reply-bar .sticker-btn {
    margin: 10px 1px 10px 6px;
}

.reply-bar .write-comment-btn {
    margin: 4px 2px 4px 0;
}

.reply-box .sticker-bar {
    left: -5px;
    bottom: 45px;
}
