@charset "utf-8";

.comment-btn {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 32px 7px 0;
    float: right;

    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #767676;
}

.comment-btn-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.comment-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(80%);
    z-index: 2;
}

.comment-area {
    position: absolute;
    top: 193px;
    left: calc((100vw - 375px) / 2 + 1px);
    margin: 4px;

    width: 365px;
    height: 428px;
    flex-shrink: 0;
}

.comment-area.highlight {
    border: 4px dashed #FC0;
    margin: 0;
}

.comment-character {
    width: 33px;
    height: 33px;
    flex-shrink: 0;

    margin: 4px;
    padding: 5px;
    position: absolute;
    top: 190px;
    left: 158px;
}

.comment-character.highlight {
    border: 4px dashed #FC0;
    border-radius: 50%;
    margin: 0;
}

.comment-character.blue {
    height: 40px;
    padding: 1px 5px 2px 5px
}

.comment-character.green {
    width: 41px;
    padding: 5px 1px 5px 1px;
}

.comment {
    position: absolute;
    left: 41px;

    width: 282px;
    height: 300px;
    flex-shrink: 0;
}

.comment.left {
    left: -3px;
}

.comment.right {
    left: 86px;
}

.comment-box {
    position: relative;

    width: 280px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid #767676;
    background: #FCF9D1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 90%;
}

.up .comment-box {
    margin-top: 20px;
}

.down .comment-box {
    margin-top: 225px;
}

.comment-arrow {
    content: url("/images/diary/view-page/comment-arrow.png");
    float: left;
    position: relative;
    left: 20px;

    width: 30px;
    height: 20px;
    z-index: 5;
}

.up .comment-arrow {
    top: 1.5px;
    transform: rotate(180deg);
}

.down .comment-arrow {
    top: -1.5px;
}
