@charset "utf-8";

.comment-btn {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 32px 7px 0;
    float: right;

    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #767676;
}

.comment-btn.selected {
    background-color: #FFCC00;
}

.comment-btn-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.comment-btn.selected .comment-btn-icon {
    content: url("/images/diary/view-page/white-comment-icon.png");
}

.comment-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(80%);
    z-index: 2;
}

.comment-area {
    position: absolute;
    top: 149px;
    left: calc((100vw - 375px) / 2 + 1px);
    margin: 4px;

    width: 365px;
    height: 472px;
    flex-shrink: 0;
    z-index: -1;
}

.comment-area.write {
    z-index: auto;
}

.comment-area.highlight {
    border: 4px dashed #FC0;
    margin: 0;
}

.comment-character {
    width: 33px;
    height: 33px;
    flex-shrink: 0;

    margin: 4px;
    padding: 5px;
    position: absolute;
    top: 190px;
    left: 158px;
}

.comment-character.highlight {
    border: 4px dashed #FC0;
    border-radius: 50%;
    margin: 0;
}

.comment-character.written {
    opacity: 0.7;
}

.comment-character.blue {
    height: 40px;
    padding: 1px 5px 2px 5px
}

.comment-character.green {
    width: 41px;
    padding: 5px 1px 5px 1px;
}

.comment {
    position: absolute;
    left: 41px;

    width: 282px;
    height: 70px;
    flex-shrink: 0;
}

.note-content .comment.left {
    left: 3px;
}

.comment.left {
    left: -3px;
}

.comment.right {
    left: 86px;
}

.comment-box {
    position: relative;

    width: 280px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid #5A402A;
    background: rgba(252, 249, 209, 0.9);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.top .comment-box {
    margin-top: 20px;
}

.comment-arrow {
    content: url("/images/diary/view-page/comment-arrow.png");
    float: left;
    position: relative;
    left: 20px;

    width: 30px;
    height: 20px;
    z-index: 5;
}

.top .comment-arrow {
    top: 1.5px;
    transform: rotate(180deg);
}

.bottom .comment-arrow {
    top: -1.5px;
}

.comment-bar {
    width: 257px;
    height: 50px;

    position: absolute;
    bottom: 0;
    left: 16px;
}

.comment-textarea {
    position: absolute;
    bottom: 12px;

    width: 180px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 1px;

    text-align: left;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: transparent;

    color: #5A402A;
    font-family: "HancomMalangMalang-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
    box-sizing: border-box;
}

.comment-textarea:empty:before {
    content: "댓글을 작성해주세요.";
    color: #767676;
}

.sticker-btn {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    padding: 4px;
    float: right;
    margin: 13px 10px 13px 0;
}

.sticker-btn .sticker-icon {
    content: url("/images/diary/view-page/sticker-icon.png");

    margin: 0;
    width: 24px;
    height: 24px;
}

.sticker-btn.selected .sticker-icon {
    content: url("/images/diary/view-page/yellow-sticker-icon.png");
}

.write-comment-btn {
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    float: right;
    margin: 7px 0 7px 0;

    background-color: #FFFFFF;
    border: 1px solid #767676;
    border-radius: 50%;
}

.written-comment {
    position: absolute;
    top: 0;
    width: 280px;
    height: 50px;
}

.written-comment-text {
    width: 250px;
    flex-shrink: 0;
    float: left;
    text-align: left;
    margin: 14px 0 10px 16px;

    color: #5A402A;
    font-family: "HancomMalangMalang-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.12px;
}
