@charset "utf-8";

.sticker-bar {
    width: 280px;
    height: 50px;
    flex-shrink: 0;

    background: #FCF9D1;
    border: 1px solid #5A402A;
    border-radius: 20px;

    position: relative;

    display: none;
}

.stickers {
    position: absolute;
    top: 5px;
    left: 7px;
}

.sticker {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.sticker.selected {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}

.sticker-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    margin: 13px 6px 10px 7px;
}

.heart .sticker-icon {
    width: 22px;
    height: 20px;
}

.angry .sticker-icon {
    width: 26px;
    height: 26px;
}

.v-sign .sticker-icon {
    width: 18px;
    height: 21px;
    flex-shrink: 0;
    margin-bottom: 11px;
}

.troubled .sticker-icon {
    width: 30px;
    height: 38px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-bottom: 0;
}

.sad .sticker-icon {
    width: 13px;
    height: 21px;
    flex-shrink: 0;
}

.eating .sticker-icon {
    width: 36px;
    flex-shrink: 0;
}

.question .sticker-icon {
    width: 17px;
    height: 22px;
    flex-shrink: 0;
}

.sticker-character {
    width: 22px;
    height: 20px;
    flex-shrink: 0;

    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.sticker-character .character-icon {
    position: relative;
    left: 1px;
    top: 1px;

    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.sticker-character.heart {
    width: 24px;
    left: 1px;
}

.heart .sticker {
    content: url("/images/diary/sticker/heart-sticker.png");

    width: 22px;
    height: 16px;

    position: absolute;
    left: -1px;
    top: 3px;
}

.angry .sticker {
    content: url("/images/diary/sticker/angry-sticker.png");

    width: 9px;
    height: 9px;

    position: absolute;
    right: -1px;
    top: 1px;
}

.v-sign .sticker {
    content: url("/images/diary/sticker/v-sign-sticker.png");

    width: 9px;
    height: 9px;

    position: absolute;
    right: -1px;
    bottom: 0;
}

.troubled .sticker {
    content: url("/images/diary/sticker/troubled-sticker.png");

    width: 8px;
    height: 12px;

    position: absolute;
    right: 3px;
    top: 0;
}

.sad .sticker {
    content: url("/images/diary/sticker/sad-sticker.png");

    width: 7px;
    height: 9px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.sticker-character.eating {
    width: 24px;
    left: 1px;
}

.eating .sticker {
    content: url("/images/diary/sticker/eating-sticker.png");

    width: 23px;
    height: 14px;

    position: absolute;
    left: -1px;
    bottom: 0;
}

.question .sticker {
    content: url("/images/diary/sticker/question-sticker.png");

    width: 7px;
    height: 10px;

    position: absolute;
    right: -1px;
    bottom: 0;
}
