@charset "utf-8";

.sticker-bar {
    width: 280px;
    height: 50px;
    flex-shrink: 0;

    background: #FCF9D1;
    border: 1px solid #5A402A;
    border-radius: 20px;

    position: relative;

    display: none;
}

.stickers {
    position: absolute;
    top: 5px;
    left: 7px;
}

.sticker {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.sticker.selected {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}

.sticker-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    margin: 13px 6px 10px 7px;
}

.v-sign .sticker-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 11px;
}

.troubled .sticker-icon {
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-bottom: 5px;
}

.sad .sticker-icon {
    width: 13px;
    height: 21px;
    flex-shrink: 0;
}

.eating .sticker-icon {
    width: 30px;
    flex-shrink: 0;
}

.question .sticker-icon {
    width: 15px;
    height: 22px;
    flex-shrink: 0;
}

.sticker-character {
    width: 15px;
    height: 15px;
    flex-shrink: 0;

    display: inline-block;
}

.sticker-character .character-icon {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}
