@charset "utf-8";

.mood-btn {
    width: 22px;
    height: 21px;
    flex-shrink: 0;

    position: absolute;
    top: 8px;
    left: 140px;
}

.upload-photo {
    width: 215px;
    height: 215px;
    flex-shrink: 0;

    position: relative;
}

.photo-btn {
    border-radius: 20px;
    border: 1px dashed #767676;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.photo-btn .photo-icon {
    content: url("/images/diary/write-page/photo_icon.svg")
}

.upload-photo .cancel-btn {
    float: left;
    position: absolute;
    top: 10px;
    left: 185px;

    border-radius: 50%;
    background: #FFFFFF;
}

.upload-photo .cancel-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.bar-write {
    width: 38px; 
    height: 38px;
    margin: 7px 10px 7px 10px; 
    float: left; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    left:17px;
}

.write-btn {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #767676;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.check-btn {
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "HancomMalangMalang-Regular";
    font-size: 16px;
    font-style:normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.4px;
}

.note-content {
    width: 100%;
    height: 500px;
    position: absolute;
    transition: transform 0.3s ease-out;
}

.diary-content-area {
    position: relative;
    top: 24px;
}

textarea.diary-content {
    resize: none;
    /* 마지막 줄 나타내는 테두리 */
    /* border-bottom: 1px solid #000;
    box-sizing: border-box; */
}

.bottom {
    width: 100%;
    height: 10px;

    position: absolute;
    bottom: 30px;

    display: flex;
    justify-content: center;
}

.page-circle {
    width: 8px;
    height: 8px;

    border: 1px solid #5A402A;
    border-radius: 50%;

    margin-left: 3px;
    margin-right: 3px;

    display: none;
}

.page-circle.active {
    display: block;
}

.page-circle.current {
    background-color: #5A402A;
}

.tooltip-box {
    position: relative;
    top: -20px;
    width: 310px;
    height: 107px;
}

.tooltip-img {
    position: relative;
    width: 308px;
    height: 114px;
}

.tooltip-text {
    position: relative;
    top: -63px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    color: #767676;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: "HancomMalangMalang-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.14px;
}
