.group-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.group-menu.blur {
    background: rgba(118, 118, 118, 0.70);
    backdrop-filter: blur(2px);
}

.group-menu .menu {
    width: 294px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #FFF;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.group-menu .menu-main {
    width: 294px;
    height: 667px;
    position: absolute;
}

.background-icons {
    width: 231px;
    height: 501px;
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 1;
}

.menu-body {
    width: 294px;
    height: 476px;
}

.menu-content {
    width: 254px;
    height: 360px;
    position: relative;
    left: 20px;
    top: 116px;
    background-color: #FCF9D1;
    border-radius: 8px;
    border: 0.4px solid #767676;
}

.group-members {
    width: 216px;
    height: 278px;
    position: relative;
    top: 20px;
    left: 19px;
    background-color: #FFF;
    border-radius: 8px;
    border: 0.4px solid #767676;
    pointer-events: none;
}

.group-members.leader {
    pointer-events: auto;
}

.group-members .circle {
    width: 160px;
    height: 160px;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-members .circle-center {
    width: auto;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;

    z-index: 1;
}

.group-members .circle-center .group-size {
    width: 45px;
    height: 22px;

    display: none;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "SOYOMaple";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
}

.circle-center.group-size .group-size {
    display: flex;
}

.group-size .group-number {
    color: var(--kakao-logo, #000);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "SOYOMapleBold";
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08px;
}

.circle-center .leader-btns {
    width: auto;
    height: 28px;
    border-radius: 20px;
    background-color: #5A402A;

    display: none;
    justify-content: center;
    align-items: center;
}

.circle-center.leader-btns .leader-btns {
    display: flex;
}

.leader-btns .btn {
    margin-left: 7px;
    margin-right: 7px;

    width: 16px;
    height: 16px;
}

.leader-btns .skip-partition {
    display: none;
    justify-content: center;
    align-items: center;
}

.leader-btns.order .skip-partition {
    display: flex;
}

.partition-line {
    content: url("/images/group/menu/partition-line.svg");
}

.group-member {
    width: 40px;
    height: 50px;
    text-align: center;
    position: absolute;

    z-index: 2;
}

.profile-image {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #767676;
    background-color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.group-member.order .profile-image {
    border: 2px solid #FC0;
}

.group-member.selected .profile-image {
    border: 2px solid #5A402A;
}

.group-member .my {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #767676;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image .character-icon {
    width: 22px;
    height: 22px;
}

.profile-image .character-icon.green {
    width: auto;
    height: 22px;
}

.profile-image .character-icon.blue {
    widthL 22px;
    height: auto;
    margin-bottom: 4px;
}

.profile-image .crown {
    content: url("/images/group/menu/crown.svg");
    position: absolute;
    left: 15px;
    top: 3px;
}

.profile-nickname {
    display: block;
    width: 40px;
    height: 10px;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 8px */
    letter-spacing: 0.08px;
}

.menu-body .group-name {
    height: 62px;
    position: relative;
    top: 20px;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "SOYOMapleBold";
    font-size: 18.951px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
}

.menu-footer {
    width: 294px;
    height: 191px;
}

.menu-footer .menu-btns {
    width: 294px;
    height: 40px;
    position: relative;
    top: 66px;
}

.menu-footer .btn {
    width: 118px;
    height: 38px;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000000;

    border-radius: 16px;
    border: 0.4px solid var(--kakao-logo, #000);
}

.btn.group-leave {
    margin-left: 20px;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.847px; /* 223.725% */
    letter-spacing: -0.3px;
}

.btn.group-code {
    margin-left: 18px;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 12.634px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.847px; /* 212.5% */
    letter-spacing: -0.316px;
}
