.group-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.group-menu.blur {
    background: rgba(118, 118, 118, 0.70);
    backdrop-filter: blur(2px);
}

.group-menu .menu {
    width: 294px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #FFF;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.group-menu .menu-main {
    width: 294px;
    height: 667px;
    position: absolute;
    bottom: 0;
}

.background-icons {
    width: 231px;
    height: 501px;
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 1;
}

.menu-body {
    width: 294px;
    height: 476px;
}

.menu-content {
    width: 254px;
    height: 360px;
    position: relative;
    left: 20px;
    top: 116px;
    background-color: #FCF9D1;
    border-radius: 8px;
    border: 0.4px solid #767676;
}

.group-members {
    width: 216px;
    height: 278px;
    position: relative;
    top: 20px;
    left: 19px;
    background-color: #FFF;
    border-radius: 8px;
    border: 0.4px solid #767676;
}

.group-members .circle {
    width: 160px;
    height: 160px;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-members .group-size {
    width: 45px;
    height: 22px;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "SOYOMaple TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
}

.group-size .group-number {
    color: var(--kakao-logo, #000);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "SOYO Maple TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08px;
}

.group-member {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 0.5px solid #767676;
    position: absolute;
    background-color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.group-member.order {
    border: 2px solid #FC0;
}

.menu-body .group-name {
    height: 62px;
    position: relative;
    top: 20px;

    color: var(--kakao-logo, #000);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "SOYOMaple TTF";
    font-size: 18.951px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
}

.menu-footer {
    width: 294px;
    height: 191px;
}

.menu-footer .menu-btns {
    width: 294px;
    height: 40px;
    position: relative;
    top: 66px;
}

.menu-footer .btn {
    width: 118px;
    height: 38px;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000000;

    border-radius: 16px;
    border: 0.4px solid var(--kakao-logo, #000);
}

.btn.group-leave {
    margin-left: 20px;
}

.btn.group-code {
    margin-left: 18px;
}
